@CHARSET "UTF-8"

.navbar
	margin-bottom: 2px	

.navbar-brand 
	padding-right: 0

/* -------------------- центрирование модальных окон (начало) --------------------------*/	

.modal 
	text-align: center
 
@media screen and (min-width: 768px)  
	.modal:before 
		display: inline-block
		vertical-align: middle
		content: " "
		height: 100%
	

 
.modal-dialog 
	display: inline-block
	text-align: left
	vertical-align: middle


/* -------------------- центрирование модальных окон (конец) --------------------------*/

/* -------------------- добавление второго уровня модальных окон (начало) --------------------------*/
#firstlevelfade
	z-index: 1000
	background-color: white


.firstlevelmodal
	z-index: 1010
/* -------------------- добавление второго уровня модальных окон (конец) --------------------------*/