<div id="crudbtns">
	<a href="#" class="btn btn-default btn-sm" id="btn-add" data-toggle="modal">Добавить</a>
	<a href="#" class="btn btn-default btn-sm" id="btn-upd" data-toggle="modal">Изменить</a>
	<a href="#" class="btn btn-default btn-sm" id="btn-del">Удалить</a>
</div>